* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	font-family: 'Raleway', sans-serif;
    background-image: url("../SRC/starSky.jpg");
    background-size: 100%;
    background-repeat: round;
    color: white;
    background-color:transparent;
    background-color: black;
    font-size: 20px;
}

header {
    background-color: black;
    color: white;
    height: 100px;
}

nav a {
    padding: 5px;
    text-align: center;
    background-color: gray;
    text-decoration: none;
    color: white;
    margin: 0px 2px;
    text-decoration: none;
    border-radius: 5px;
}

.volver a {
    padding: 5px;
    background-color: gray;
    text-decoration: none;
    color: white;
    margin: 0px 2px;
    text-decoration: none;
    border-radius: 5px;
}  

.volver {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1 {
    padding-top: 20px;
    text-align: center; 
    font-size: 50px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

table th, table td {
    height: 40px;
    border-bottom: 1px solid palevioletred;
    padding: 5px;
}

main {
    padding: 0 0 20px 0px;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
    background-color: rgba(50, 50, 50, 0.5);
}

footer {
    text-align: center; 
    background-color: black; 
    color:white;
    padding: 20px;
    clear: both;   
}

.fab{
	color: white;
	font-size: 3rem;
	text-decoration: none;
}

.fa-facebook:hover{
	text-decoration: none;
	color: blue;
}

.fa-twitter:hover{
	text-decoration: none;
	color: aqua;
}

.fa-instagram:hover{
	text-decoration: none;
	color: magenta;
}

.fa-linkedin:hover {
    text-decoration: none;
    color: #0173B0;
}

a .fa-whatsapp:hover{
	color: #00E676;
}

@media (min-width:320px) and (max-width:400px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 20%;
        background-color: black;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    main {
        width: 95%;
        margin: auto;
        text-align: center;
    }

    table {
        width: 95%;
    }

    h2 {
        width: 80%;
    }
}

@media (min-width:401px) and (max-width:700px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 20%;
        width: 100%;
        background-color: black;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    main {
        width: 95%;
        margin: auto;
        text-align: center;
    }
    
    table {
        width: 95%;
    }

    h2 {
        width: 80%;
    }
}

